.board {
}

.board table {
  margin: 3rem auto;
}

.board table { border-collapse: collapse; }
.board table td { margin: 0; padding: 0; }

.board table td + td { border-left: 2px solid #000; }
.board table tr + tr { border-top: 2px solid #000; }

.board td div { width: 100px; height: 100px; color: #000; font-size: 100px; line-height: 100px; text-align: center; }
.board td[data-state='1'] div::after { content: 'X'; }
.board td[data-state='2'] div::after { content: 'O'; }
.board td[class*=W] div { color: #fff; background-color: green; }

.board tr + tr > td { border-top: 2px solid #000; }
