html { height: 100%; }
html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

h1 { margin-bottom: 0; }
label { display: block; margin: 0.7rem; }
label span { display: block; margin-bottom: 0.2rem; }
select, button { font-size: 18px; }

#app {
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0 auto;
	max-width: 320px;
	text-align: center;
	border-radius: 1rem;
}

.title-screen-local-game {
	padding: 0.5rem 0;
}

.title-screen-remote-game {
	padding: 0.5rem 0;
	border-top: 1px solid #333;	
	border-bottom: 1px solid #333;
}

header {
	padding: 0.5rem 0;	
}

footer {
	padding: 0.5rem 0;
}

.board table {
	margin: 3rem auto;
	border-collapse: collapse;
}

input {
	width: 90%;
}

button + button {
	margin-left: 1rem;
}

.board table caption {
	/* https://github.com/twbs/bootstrap/blob/a4a04cd9ec741050390746f8056cc79a9c04c8df/scss/mixins/_screen-reader.scss */
	position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.board table td {
	margin: 0;
	padding: 0;
}

.board table td + td {
	border-left: 2px solid #000;
}

.board table tr + tr {
	border-top: 2px solid #000;
}

.board table tr + tr > td {
	border-top: 2px solid #000;
}

.board table td div {
	position: relative;
	width: 100px;
	height: 100px;
	color: #000;
	text-align: center;
}
.board table td div button {
	width: 100%;
	height: 100%;
	border: 0;
	background: none;
	font-size: 80px;
	line-height: 100%;
	text-align: center;
	appearance: none;
	padding: 0;
	margin: 0;
}

.board table td[class*='W'] div {
	color: #fff;
	background-color: green;
}

.board-wrapper {
	position: relative;
}

.board-wrapper .status {
	position: absolute;
	bottom: -1.5rem;
	display: block;
	width: 100%;
}

main.stats {
	padding: 0 1rem;
}
table.stats {
	width: 100%;
	margin-top: 1rem;
	border-collapse: collapse;
}

table.stats caption {
	margin-bottom: 0.75rem;
}

table.stats .mode {
	text-align: left;
}
table.stats th,
table.stats td {
	padding: 0.25rem 0;
	border-bottom: 1px solid #000;
}
table.stats .win,
table.stats .loss,
table.stats .tie {
	text-align: right;
}
